/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03 2, 23, 10:46:16 PM
    Author     : Redd Ignacio
*/

body{
    background-image: url("../Images/log-in-bg.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    width: 900px;
    display:flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
text{
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
span{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input{
    height: 45px;
    width: 87%;
    outline: none;
    border: none;
    padding: 0 0 0 45px;
   
}

i{
    position: relative;
    top: -40px;
    left: 13px;
    color: #dcdcdc;
}

::-webkit-input-placeholder{
    color: #dcdcdc;
}

.submit{
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    height: 45px;
    width: 92%;
    background: #FFB300;
    cursor: pointer;
    transition: .3s;
}